/* Board */
.mn-board-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.mn-board-card {
    cursor: pointer;
    margin-bottom: var(--lumo-space-s);
    width: 100%; /* For mobile phones: */
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    .mn-board-card {
        width: 50%;
    }
}

/* For desktop: */
@media only screen and (min-width: 960px) {
    .mn-board-card {
        width: 25%;
    }
}

.mn-board-card paper-card {
    background: #f3f5f7;
    margin: 1% 2%;
    width: 96%;
}

.mn-board-card-content-title {
    margin-left: 2%;
    font-weight: 400;
    font-size: 20px;
}

.mn-board-card paper-card .card-actions {
    background: #E8EBEF;
    text-align: center;
}

[theme~="dark"] .mn-board-card paper-card {
    background: #36485f;
}

[theme~="dark"] .mn-board-card paper-card .card-actions {
    background: #2c3d52;
    color: var(--lumo-tint-90pct);
}
