/* Left Menu */
.mn-left-menu {
    background: var(--lumo-shade-10pct);
    -webkit-transition: width 0.5s ease-in-out, min-width 0.5s ease-in-out, max-width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out, min-width 0.5s ease-in-out, max-width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out, min-width 0.5s ease-in-out, max-width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out, min-width 0.5s ease-in-out, max-width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out, min-width 0.5s ease-in-out, max-width 0.5s ease-in-out;
    border-radius: 1px solid;
    overflow-y: visible;
    overflow-x: auto;
}

.mn-left-menu vaadin-button {
    background: var(--lumo-tint-20pct);
    -webkit-transition: background 0.3s ease-in-out, border-left-color 0.3s ease-in-out, border-left-width 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out, border-left-color 0.3s ease-in-out, border-left-width 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out, border-left-color 0.3s ease-in-out, border-left-width 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out, border-left-color 0.3s ease-in-out, border-left-width 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, border-left-color 0.3s ease-in-out, border-left-width 0.3s ease-in-out;
    padding: 8px 0 8px 10px !important;
    color: var(--lumo-contrast-90pct);
    border-left: 0 solid var(--lumo-primary-color);
    height: 45px;
    width: 100%;
    padding: 0;
    margin: 0;
}

[theme~="dark"] .mn-left-menu vaadin-button {
    background: #2c3d52;
    color: var(--lumo-tint-90pct);
}

.mn-left-menu vaadin-button .mn-tool-tip {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1px 4px 3px;
    border-radius: 3px;
    position: absolute;
    right: 8px;
    top: 50%;
}

.mn-left-menu vaadin-button.active {
    background: #f3f5f7;
    border-left-color: var(--lumo-success-color);
    border-left-width: 3px;
}

[theme~="dark"] .mn-left-menu vaadin-button.active {
    background: #36485f;
}

.mn-left-menu vaadin-button:hover {
    border-left-width: 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.mn-left-menu vaadin-vertical-layout.mn-sub-menu {
    width: 100%;
    margin: 0;
}

.mn-left-menu vaadin-vertical-layout.mn-sub-menu > vaadin-vertical-layout {
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -ms-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
    width: calc(100% - 24px) !important;
    position: relative;
    margin-left: 24px;
    overflow: hidden;
    display: block;
    max-height: 0;
}

.mn-left-menu vaadin-vertical-layout.mn-sub-menu.open > vaadin-vertical-layout {
    max-height: 500px;
}

.mn-left-menu vaadin-vertical-layout.mn-sub-menu.open > vaadin-button div.vaadin-button[part="label"] iron-icon.mn-btn-other-icon {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.mn-left-menu > label {
    border-bottom: 1px solid var(--lumo-shade-30pct);
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 8px 0;
    width: 100%;
    margin: 0;
}

[theme~="dark"] .mn-left-menu > label {
    border-bottom-color: var(--lumo-tint-30pct);
}

.mn-left-menu > label img {
    vertical-align: middle;
    margin-right: 5px;
    height: 32px;
    width: 32px;
}

.mn-left-menu > label > p {
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 5px;
}

/* Others */
.mn-left-menu.minimal {

}
