<link rel="import" href="../.bower_components/polymer/polymer-element.html"/>
<link rel="import" href="../bower_components/vaadin-themable-mixin/vaadin-themable-mixin.html"/>
<link rel="import" href="../bower_components/vaadin-element-mixin/vaadin-element-mixin.html"/>

<dom-module id="mn-board">
    <template>
        <style>
            :host {
                background: var(--lumo-shade-10pct);
                position: relative;
                height: 100%;
                width: 250px;
                display: block;
            }
        </style>
        <slot></slot>
    </template>

    <script>
        class MNBoardElement extends Vaadin.ElementMixin(Vaadin.ThemableMixin(Polymer.Element)) {
            static
            get is() {
                return 'mn-board';
            }

            static
            get version() {
                return '1.0.0';
            }
        }

        window.customElements.define(MNBoardElement.is, MNBoardElement);

        window.Vaadin = window.Vaadin || {};
        Vaadin.MNBoardElement = MNBoardElement;
    </script>
</dom-module>
