<link rel="import" href="../bower_components/polymer/polymer-element.html"/>
<link rel="import" href="../bower_components/vaadin-themable-mixin/vaadin-themable-mixin.html"/>
<link rel="import" href="../bower_components/vaadin-element-mixin/vaadin-element-mixin.html"/>

<dom-module id="toolbar-menu">
    <template>
        <style></style>
        <slot></slot>
    </template>

    <script>
        class ToolbarMenuElement extends Vaadin.ElementMixin(Vaadin.ThemableMixin(Polymer.Element)) {
            static
            get is() {
                return 'toolbar-menu';
            }

            static
            get version() {
                return '1.0.0';
            }
        }

        window.customElements.define(ToolbarMenuElement.is, ToolbarMenuElement);

        window.Vaadin = window.Vaadin || {};
        Vaadin.ToolbarMenuElement = ToolbarMenuElement;
    </script>
</dom-module>
